* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: #FBF7FF;
}

/* Hero Section's Articles  */

.hero-sec {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("hero-bg.png");
    max-width: 2000px;
    width: 90%;
    height: auto;
    margin: 100px auto;
    border: 1px solid #F5EDFF;
    border-radius: 25px;
    display: flex;
}

.hero-con h1 {
    margin-top: 120px;
    margin-left: 100px;
    font-size: 75px;
    color: #1C1C1C
}

.hero-con span {
    color: #F411CF;
}

.hero-con p {
    margin-top: 30px;
    margin-left: 100px;
    font-size: 20px;
    color: cadetblue;
    font-weight: 700;
}



.button {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.btn1 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #872BFF;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
}

.btn2 {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 50px;
    border: 1px solid #872BFF;
    font-weight: 700;
}

/* Hero section's Img */

.hero-img {
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 400px;
}

/* Service Section */

.services-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-head p {
    margin-bottom: 30px;
    color: #872BFF;
    text-align: center;

    & span {
        font-size: 32px;
        color: #1C1C1C;
        font-weight: 700;
    }
}

.service-1 {
    width: 300px;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-2 {
    width: 300px;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-3 {
    width: 300px;
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ser-img {
    padding-top: 80px;
    padding-bottom: 50px;
}

h2 {
    letter-spacing: 1.5px;
    word-spacing: 2px;
    margin-bottom: 20px;
    
}

.ser-p {
    text-align: center;
    margin-bottom: 80px;
    color: cadetblue;;
}

